.card {
    width: 80%;
    margin: auto;
    background-color: #0e0726 !important;
    color: #fff;
    margin-top: 150px;
}

.card img {
    width: 100%;
}

.card-title {
    color: #fff !important;
    font-size: 30px !important;

}

.card-text {
    color: #fff !important;
    font-size: 17px;
    margin: 20px 0;
}

.text-muted {
    color: #fff !important;
}